


html {
  overflow: scroll-y; min-height: 101vh;
}

body {
  position: relative;
  background-color: #fff; color: #666;
  font-family: Source Sans Pro, sans-serif; font-size: 100%;
  background-repeat: repeat-y; background-position: 50% 0;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMTAiIHdpZHRoPSIxMCIgdmlld0JveD0iMCAwIDEwIDEwIj48Y2lyY2xlIHI9IjIiIGN5PSIyIiBjeD0iNSIgZmlsbD0iIzk5OSIgc3Ryb2tlPSJub25lIiAvPjwvc3ZnPg==");
}

h1 {
  font-family: Abril Fatface;
  font-size: 6rem;
  color: #fff;
  letter-spacing: -0.035rem;
  line-height: 6.5rem;
  text-align: center;
  margin-top: 25%;
}

.splash {
  width: 100%; height: 100vh;
  background-color: #333;
  background-image: url("../../img/satyajit-ray.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.film > .header {
  margin: 48px 0 8px 0; padding: 12px 0;
  background-color: #fff;
  font-family: Courgette;
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.title {
  font-size: 1.75rem;
}


.film .details {
  min-height: 65vh;
  padding: 12px;
}


img.thumb {
  transition: 0.35s;
  opacity: 0.9;
  cursor: pointer;
}

img.thumb:hover {
  opacity: 1;
}

div.spacer {
  width: 100%;
  min-height: 1px;
}

.text {
  padding-top: 24px;
  clear: both;
  text-align: right;
}

.right .text {
  text-align: left;
}


@media screen and (max-width: 39.9375em) {
  body {
    background-image: none;
  }

  .text {
    text-align: left;
  }
}


